@import "anime";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: radial-gradient(ellipse at bottom, #030637 10%, #3C0753 50%, #720455 50%, #3C0753 40%);
  background-size: 500% 500%;
  animation: gradient 20s ease-in-out infinite;
  animation-direction: alternate;
  height: 100vh;
  color: white;
}

